
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489657443042'); /* IE9*/
  src: url('iconfont.eot?t=1489657443042#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489657443042') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489657443042') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489657443042#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple_small:before { content: "\e60b"; }

.icon-apple_large:before { content: "\e60c"; }

.icon-bag_large:before { content: "\e60d"; }

.icon-bag_small:before { content: "\e60e"; }

.icon-ipad_small:before { content: "\e60f"; }

.icon-ipad_large:before { content: "\e610"; }

.icon-mac_large:before { content: "\e611"; }

.icon-iphone_small:before { content: "\e612"; }

.icon-iphone_large:before { content: "\e613"; }

.icon-mac_small:before { content: "\e614"; }

.icon-music_small:before { content: "\e615"; }

.icon-music_large:before { content: "\e616"; }

.icon-search_small:before { content: "\e617"; }

.icon-search_large:before { content: "\e618"; }

.icon-watch_small:before { content: "\e619"; }

.icon-watch_large:before { content: "\e61a"; }

.icon-support_small:before { content: "\e61b"; }

.icon-support_large:before { content: "\e61c"; }

